*{padding:0px; margin:0px;}
li{list-style:none;}
a{text-decoration:none;}

@media(min-width:810px){
    header{width:800px; margin:0px auto; display:flex; justify-content:space-between;}
    #visual{width:800px; margin:0px auto; position:relative;}
    #visual h2{position:absolute; right:50px; top:100px;}
    #visual img{width:70%;}
    #visual h4{position:absolute; right:50px; top:50%; transform:translateY(-50%);}

     /*container*/
     #container{width:800px; margin:50px auto;}
     .con1{display:flex; justify-content:space-between;}
     .con1 li{width:50%; height:200px; color:#fff; background-position:center; background-size:cover; background-repeat:no-repeat; padding:10px; box-sizing:border-box;}
     .con1 li:first-child{background-image:url(../images/movie.jpg); }
     .con1 li:last-child{background-image:url(../images/vr.jpg); }
     #container h3{margin:20px 0px;}
 
     /*con2*/
     .con2{display:flex; justify-content: space-between; }
     .con2 li{width:25%; height:200px; background-repeat:no-repeat; background-size:cover; background-position:center; position:relative;}
     .con2 li:nth-of-type(1){background-image:url(../images/bnr1.jpg)}
     .con2 li:nth-of-type(2){background-image:url(../images/bnr2.jpg)}
     .con2 li:nth-of-type(3){background-image:url(../images/bnr3.jpg)}
     .con2 li:nth-of-type(4){background-image:url(../images/bnr4.jpg)}
     .con2 p{width:100%; position:absolute; bottom:10px; /*left:50%; transform:translateX(-50%); */text-align:center;}


    footer{width:800px; margin:0px auto 30px; font-size:10px; display:flex;}
    footer li a{color:#777; }
    footer ul{display:flex;}
    footer img{margin-right:20px;}
    footer li{ border-right:1px solid lightgray; padding-right:10px; margin-right:10px;}
    footer li:last-child{border-right:none; padding-right:none; margin-right:none;}
    footer .foo_r{line-height:17px;}
    /*내가한거
    #container{width:800px; margin:0px auto;}
    #container .con1{width:800px; height:200px; display:flex;  }
    
    #container .con1 li:nth-of-type(1){width:50%; background:url(../images/movie.jpg) no-repeat; object-fit:cover; background-size:cover;}
    #container .con1 li:nth-of-type(2){width:50%; background:url(../images/vr.jpg) no-repeat; background-position:center; object-fit:cover; background-size:cover;}
    #container li h4{color:#fff; margin:10px 0px 0px 10px;}
    #container h3{margin:10px;}*/
}

@media(max-width:809px){
    header{width:90%; margin:0px auto; display:flex; justify-content:space-between;}
    #visual{width:90%; margin:0px auto; position:relative;}
    #visual h2{position:absolute; right:10%; top:10%;}
    #visual img{width:70%;}
    #visual h4{position:absolute; right:10%; top:50%; transform:translateY(-50%); font-size:2vw;}

     /*container*/
     #container{width:90%; margin:50px auto; }
     .con1{display:flex; justify-content:space-between; flex-wrap:wrap;}
     .con1 li{width:100%; height:200px; color:#fff; background-position:center; background-size:cover; background-repeat:no-repeat; padding:10px; box-sizing:border-box;}
     .con1 li:first-child{background-image:url(../images/movie.jpg); }
     .con1 li:last-child{background-image:url(../images/vr.jpg); }
     #container h3{margin:20px 0px;}
 
     /*con2*/
     .con2{display:flex; justify-content: space-between; flex-wrap:wrap; }
     .con2 li{width:50%; height:200px; background-repeat:no-repeat; background-size:cover; background-position:center; position:relative;}
     .con2 li:nth-of-type(1){background-image:url(../images/bnr1.jpg)}
     .con2 li:nth-of-type(2){background-image:url(../images/bnr2.jpg)}
     .con2 li:nth-of-type(3){background-image:url(../images/bnr3.jpg)}
     .con2 li:nth-of-type(4){background-image:url(../images/bnr4.jpg)}
     .con2 p{width:100%; position:absolute; bottom:5px; /*left:50%; transform:translateX(-50%); */text-align:center;}

     footer{width:90%; margin:0px auto 30px; font-size:1vw; display:flex;}
    footer li a{color:#777;  }
    footer ul{display:flex; flex-wrap:wrap;}
    footer img{width:20%; margin-right:5%;}
    footer li{width:35%; border-right:1px solid lightgray; padding-right:1%; margin-right:1%; box-sizing:border-box; font-size:0.5vw;}
    footer li:last-child{border-right:none; padding-right:none; margin-right:none;}
    footer .foo_r{width:75%;  }
    footer li:nth-of-type(2){border-right:none;}
    footer li:nth-of-type(4){border-right:none;}
}















































/*pc*//*내가한거
@media(min-width:1020px){
    header{width:1000px; margin:0px auto; display:flex; justify-content:space-between;}
    
    #visual{width:1000px; margin:0px auto; position:relative;}
    #visual h2{position:absolute; right:100px; }
    #visual img{width:700px; position:absolute; left:0px;}
    #visual h4{position:absolute; right:100px; top:300px; font-size:22px;}
}
*/
/*mobile*//*
@media(max-width:999px){
    header{width:90%; margin:0px auto; display:flex; justify-content:space-between;}
    
    #visual{width:90%; margin:0px auto; position:relative;}
    #visual h2{position:absolute; right:10%; }
    #visual img{width:70%; position:absolute; left:0px;}
    #visual h4{position:absolute; right:10%; top:50%; font-size:2.5vw;}*/